node_modules
npm-debug.log
.git
.gitignore
.env
.env.local
.env.production
README.md
Dockerfile
.dockerignore
storage/app/public
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/logs
bootstrap/cache